.in-container{
    border: solid 1px black;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    // height: 2rem;
    p{
        margin: 0;
        font-size: .9rem;
    }
    input{
        margin: 0;
        padding: 0;
        height: 1rem;
        border: none;
        font-size: 1rem;
    }
    input:focus{
        outline: none;
    }
}


.mobx-in{
    width: 40px;
    text-align: right;
}